body {
  background-color: #818181;
}
.header {
  color:#CCC;
  font-size: 80px;

  border: 1px black;
  padding: 1px 2px 3px 4px;

}


.card {
  background-color: lightyellow;

}

nav, footer {
  background-color: steelblue;
}


img {
width: 100px;
height: 100px;

ol {
    color:#00ff00;
}


}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol#BulletListItemC {
    color: red;
}

ol.d {
    list-style-type: lower-alpha;
}






li.navlink {
  display: inline;
  margin: 0 20px;
}

li#linkC a {
  color: yellow;
}

.social buttons {

}

#greeting {
    background-color: cyan;
}

#greeting p {
  border: 2px dotted blue;

}
