body {
  background-color: #818181;
}

.header {
  color:#blue;
  font-size: 50px;

  border: 2px black;
  padding: 4px;
  background-color:#303030;
}

h1 {
  color:#0006ff;
  font-size: 40px;
  background-color:#508d8b;
}




}

.card {
  color:#ffea00;
  background-color:#01fdf4;
  width: 100%;
  height: 50px;
  text-align: center;
}

/* I don't know what is going on with this nav, footer code */

.nav {
  background-color:#01fdf4;
  width: 100%;
  height: 50px;
  align: center;
}


}

img {
width: 100px;
height: 100px;
}




ul.b {
  width:9em;
  font-family:tahoma, sans-serif;
  list-style-type: square;
  display: inline;
  color: red;
}







li.navlink {
  display: inline;
  margin: 0 20px;
  text-align: center;
}

li#linkC a {
  color: yellow;
}

.social buttons {

}

#item1 {
    color:#3442c6;

}


}

#greeting {
    background-color: cyan;
}

#greeting p {
  border: 2px dotted blue;

}

#header {
    margin: 10;
    padding: 5;
